.underline {
  text-decoration: underline;
}
.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase !important;
}

.capitalise-all-words {
  text-transform: capitalize !important;
}

.bold {
  font-weight: bold;
}

.not-bold {
  font-weight: normal;
}

.greyed-out {
  opacity: 0.5;
}

.strikethrough {
  text-decoration: line-through;
}

.italic {
  font-style: italic;
}

.fa-1-5 {
  font-size: 1.5em;
}

small {
  &.smaller {
    font-size: 0.4em;
  }
}

@media screen and (max-width: $screen-xs-max) {
  .text-center-xs {
    text-align: center !important;
  }

  .text-left-xs {
    text-align: left;
  }

  h2 {
    &.smaller-xs {
      font-size: 16px;
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .text-center-sm {
    text-align: center;
  }

  .text-left-sm {
    text-align: left;
  }

  .text-center-screens {
    text-align: center;
  }
}

/* reset styles when using <a> */

.inherit-styles {
  color: inherit;
  text-decoration: inherit;
  font-weight: inherit;

  &:hover, &:focus {
    text-decoration: inherit;
    font-weight: inherit;
  }
}

.breakword {
  word-wrap: break-word;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  &.disabled {
    cursor: default;
  }
}